*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #957cb4, #d8a5c0)
}

.wrapper{
    width: 300px;
    height: auto;
    margin: 100px auto;
    border: solid 5px #474f85;
    border-radius: 5px;
    background: linear-gradient(to right, #f3f9fb, #f3ecd3);
}

.header{
    text-align: center;
    padding: 10px;
    color: #f3f9fb;
    border: 2px solid #474f85;
    background: #474f85;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 5px;
}

.wrapper-list{
    height: 85%;
    width: 100%;
}

input[type="checkbox"]{
    position: relative;
    top: 6px;
    right: 12px;
    float: right;
}

input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    opacity: 0.4;
}

.list{
    list-style: none;
}
li{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F5BCBA;
}
label{
    padding-left: 10px;
    font-size: 20px
}
input{
    font-size: 20px;
}

.licolor{
    background: white;
}

